body {
    background: #3f4040;
    color: white;
    font-family: 'Doppio One', sans-serif;
    position: absolute;
}

canvas {
    -moz-box-shadow: 0 0 2px 2px #363535;
    -webkit-box-shadow: 0 0 2px 2px#363535;
    box-shadow: 0 0 2px 2px #363535;
}